ul li{
    font-size: large;
    margin-left: 25px;
}

.logo{
    float: left;
    width: 60px;
    height:60px;
}

.panier{
    width: 30px;
    height: 30px;
}

#msgErrEnregm,#msgErrEnregc{
    color:red;
}

#msgErrCon{
    color:red;
}

.posToast {
    position: absolute;
    top: 5%;
    left: 40%;
}